* {
  padding: 0px;
  margin: 0px;
}
main{
  margin-left: 20px;
  margin-right: 20px;
}
header {
  height: 15rem;
  margin: 0rem;
  position: fixed;
  width: 100%;
  top: 0;
  overflow: hidden;
}
header img {
  position: absolute;
  width: 6rem;
  padding: 1rem;
  margin: 0rem;
  top: 1%;
  right: 1rem;
}
nav ul {
  list-style: none;
  background-color: #9E7676;
  height: 3rem;
  padding: 0rem;
  margin: 0rem;
  overflow: hidden;
}
nav ul li {
  display: inline;
  float: left;
}
nav ul li a {
  display: block;
  color: #FFF8EA;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav ul li a:hover{
    background-color: #594545;
}
h1 {
  color: #FFF8EA;
  margin: 0rem;
  padding: 3rem;
  background-color: #594545;
  width: -webkit-fill-available;
}
img {
  margin: 2rem;
}
main {
    
    margin-top: 13rem;
    margin-bottom: 13rem;
}

p{
    color: #9E7676;
}
h2{
    color: #9E7676;
    margin: 10px;
}

body{
    background-color: #FFF8EA;
}
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #594545;
}
footer h2{
  margin: 10px;
  color: #FFF8EA;
}
footer ul{
  list-style: none;

  
}
footer ul li{
  display: inline;
  
}
footer ul a{
  margin: 5px;
  color: hotpink;
}
footer ul p{
  margin: 5px;
  color: hotpink;
  font-size: 30px;
}